#!/bin/bash
set -e
echo "Installing VoxVibe {{VERSION}}..."
pip install app/*.whl
mkdir -p "$HOME/.local/share/gnome-shell/extensions/{{EXTENSION_UUID}}"
cp -r extension/* "$HOME/.local/share/gnome-shell/extensions/{{EXTENSION_UUID}}/"
gnome-extensions enable {{EXTENSION_UUID}} || echo "Please enable VoxVibe extension manually"
echo "Installation complete. Please reload GNOME Shell or log out/in."
